@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  color: #6B708D;
}

body {
    margin: 70px 10% 0 10%;
    background-color: #f2f4fc;
    width: 80%;
}

a {
    text-decoration: none;
    cursor:pointer;
    font-weight: 500;
    color: #072AC8;
}

a:hover {
    color: #0927ab;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    width: 30%;
}

nav a {
    color:#6B708D;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0;
}


.btn {
    padding: 15px 33px;
    color: white;
    background-color: #072AC8;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #0927ab;
}

header {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

header p {
    width: 435px;
    margin-top: 0;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: #292E47;
}

#hero-text {
    display: flex;
    flex-direction: column;
    flex-grow:1;
}

#cta {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.btn-blind {
    border: none;
    background-color: #f2f4fc;
    color: #6B708D;
}

.btn-blind:hover {
    border: none;
    background-color: #f2f4fc;
    color: #292E47;
}

#img-hero {
    position: relative;
    flex-grow:1.3;
}

#man-image {
    height: 637px;
}

#card-image {
    position:absolute;
    right: 55%;
    bottom: 35%;
    height: 400px;
}

#project-accepted {
    position:absolute;
    left: 60%;
    top: 65%;
    height: 350px;
}

.logos {
    padding: 20px 0;
    filter: saturate(0%);
}

p {
    font-size: 1.25em;
    color: #6B708D;
    line-height: 150%;
}

#companies {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 280px;
}

#proj1 {
    background-image: url('/project-assets/projects-section/1.jpg');
}

#proj2 {
    background-image: url('/project-assets/projects-section/2.jpg');
}

#proj3 {
    background-image: url('/project-assets/projects-section/3.jpg');
}

.img-proj {
    height: 40%;
    background-size: cover;
}

h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: #292E47;
}

#recent, #our-services {
    padding-bottom: 200px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#recent h2, #our-services h2{
    position: absolute;
    top: -20%;
}

.link-proj {
    font-size: 17px;
    line-height: 150%;
    font-weight: 400;
}

#recent p {
    margin-bottom: 50px;
    height: 1em;
}

article div {
    padding: 30px;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color:#292E47;
    margin-top: 0;

}

.img-services {
    background-color: #ECF7FF;
    width: 40px;
    border-radius: 100px;
    margin-bottom: 55px;
}

article {
    width: 32%;
    height: 470px;
    background: #FFFFFF;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

#hear {
    background-color: #292E47;
    margin: 0 -5% 200px -5%;
    position: relative;
    padding: 120px 110px;
    background-image: url('/project-assets/testimonial-section/orbit.png');
    background-size: cover;
    text-align: center;
}

.hear-img {
    position: absolute;
    transform: scale(0.5);
}

#profile-photo {
    background-image: url('/project-assets/testimonial-section/profile.png');
    width: 48px;
    height: 48px;
    border-radius: 100px;
    background-size:cover;
}

#blonde {
    left:-5%;
    top: -5%;

}

#boy {
    right: -5%;
    top: -5%;

}

#ok-boy {
    left: -5%;
    bottom: -5%;
}

#party-girl {
    right: -5%;
    bottom: -5%;
}

#profile-text p {
    margin: 0;
    margin-left: 10px;
    text-align: left;
}

#profile-text p:nth-child(1) {
    color: #A2D6F9;
    font-size: 1.0625em;
    margin-bottom: 5px;
}

#profile-text p:nth-child(2) {
    color: #F4F6FC;
    font-size:0.8em;
}

#hear > div {
    display: flex;
    justify-content: center;
}


#hear h2 {
    color: #f4f6fc;
}

blockquote {
    color: #ffc600;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 160%;
    width:60%;
    margin: 105px auto;
}

#our-services article {
    padding: 40px 30px 30px 30px;
    width: 25%;
    height: 100%;
}

#our-services a {
    font-weight: 500;
    margin-top: 36px;
}


#newsletter {
    background-color: #ffc600;
    margin: 0 -5% 80px -5%;
    text-align: center;
    padding: 136px 110px;
}

#newsletter p {
    color: #292E47;
}

form div {
    padding: 25px 30px;
    background-color: #fff;
    display:flex;
    margin-right: 20px;
}

input {
    width: 300px;
    margin-left: 10px;
    border:none;
    font-size: 1.0625em;
}

form {
    display:flex;
    justify-content: center;
}

#footer-.navi {
    display: flex;
    justify-content: space-between;
    
}

#footer-.navi div, footer {
    display: flex;
    justify-content: space-between;
}

#footer-.navi div {
    flex-direction: column;
}

footer a {
    padding: 30px 50px;
}

address {
    width: 18vw;
}

@media (max-width: 1024px) {

    #hero p {
        width: 20%;
    }

    h1 {
        font-size: 40px;
    }

    #img-hero {
        flex-grow: 1;
        transform: scale(0.8);
        transition: all 300ms ease-in-out;
    }
    
    #recent {
        flex-direction: column;
    }

    #recent article, #our-services article {
        width: 100%;
        margin-bottom: 30px;
    }

    #recent h2, #our-services h2 {
        top: -10%;
    }

    .logos {
        padding: 20px;
    }

}

@media (max-width: 768px) {
    .nav ul li {
        padding: 0 10px;
        font-size: 0.8em;
    }

    .nav .btn {
        padding: 12px 8px;
        font-size: 0.8em;
    }

    h1 {
        font-size: 3em;
    }

    header {
        padding-top: 80px;
        justify-content: center;
        align-content: middle;
        flex-direction: column;
    }

    #companies {
        flex-wrap: wrap;
    }

    blockquote {
        width: 100%;
   }

   .hear-img {
        transform:scale(0.45);
   }

   form {
        flex-direction: column;
   }

   #newsletter {
        padding-left: 50px;
        padding-right: 50px;
   } 
   
   form button {
        margin-top: 20px;
   }

   

}